.options {
  font-family: Arial, Helvetica, sans-serif;

  position: absolute;
  margin: 16px;

  display: flex;
  flex-direction: column;
}

.options p {
  margin-top: 4px;
  margin-bottom: 4px;
}

.row {
  display: flex;
  align-items: center;
}

.row .slider {
  width: 100px;
}

.row p {
  width: 100px;
}

input {
  margin-right: 8px;
}
